@import "tailwindcss";
@import "@passu/tailwind-config";
@import "@passu/ui/styles.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* 스크롤 바 너비 제거 */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
