{"openapi":"3.1.0","info":{"title":"PASSU Admin","description":"패슈 관리자 페이지 API 문서","version":"1.0.0"},"servers":[{"url":"http://ec2-54-180-92-55.ap-northeast-2.compute.amazonaws.com:8080","description":"Generated server url"}],"tags":[{"name":"event","description":"행사 관련 API"},{"name":"enrollment","description":"학생 등록 관련 API"}],"paths":{"/api/v1/event/{id}":{"get":{"tags":["event"],"summary":"행사 디테일 조회 API","description":"행사 디테일을 조회하는 API 입니다.\n행사 id를 넘겨받아 해당 행사에 대한 정보를 응답합니다.\n","operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponseDto"}}}}}},"put":{"tags":["event"],"summary":"행사 수정 API","description":"행사를 수정하는 API 입니다.\n","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponseDto"}}}}}},"delete":{"tags":["event"],"summary":"행사 삭제 API","description":"행사를 삭제하는 API 입니다.\n","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponseDto"}}}}}}},"/api/v1/event":{"get":{"tags":["event"],"summary":"행사 리스트 조회 API","description":"행사 리시트를 조회하는 API입니다.\n","operationId":"getEventList","parameters":[{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["BEFORE","ONGOING","PAUSE","AFTER"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageEventResponseDto"}}}}}},"post":{"tags":["event"],"summary":"행사 생성 API","description":"행사를 생성하는 API 입니다.\n","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponseDto"}}}}}}},"/api/v1/event/{eventId}/enroll":{"post":{"tags":["enrollment"],"summary":"학생 등록 API","description":"학생이 발급받은 랜덤키를 검증하는 API 입니다.\n학생이 발급받은 랜덤 키와 행사 id의 유효성을 검증하고, 중복으로 등록되었는지 검증합니다.\n","operationId":"enroll","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrollmentRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEnrollmentResponseDto"}}}}}}},"/api/v1/event/{id}/start":{"patch":{"tags":["event"],"summary":"행사 시작 API","description":"행사를 시작하는 API 입니다.\n해당 행사의 키 풀이 생성되고, 행사 상태를 ONGOING으로 바꿉니다.\n","operationId":"start","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponseDto"}}}}}}},"/api/v1/event/{id}/pause":{"patch":{"tags":["event"],"summary":"행사 멈춤 API","description":"행사를 멈추는 API 입니다.\n해당 행사의 상태를 PAUSE로 바꿉니다.\n","operationId":"pause","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponseDto"}}}}}}},"/api/v1/event/{id}/end":{"patch":{"tags":["event"],"summary":"행사 종료 API","description":"행사를 종료시키는 API 입니다.\n해당 행사의 상태를 AFTER로 바꿉니다.\n","operationId":"end","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponseDto"}}}}}}},"/api/v1/event/{id}/enrollments/excel":{"get":{"tags":["event"],"summary":"행사 등록자 엑셀 다운로드 API","description":"특정 행사에 등록된 학생들의 명단을 엑셀 파일로 다운로드하는 API입니다.\n","operationId":"downloadEnrollmentsExcel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/event/{eventId}/enrollments":{"get":{"tags":["enrollment"],"summary":"등록된 학생 목록 조회 API","description":"특정 행사에 등록된 학생들의 목록을 반환하는 API입니다.\n최근 등록 순으로 정렬되어 반환됩니다.\n","operationId":"getEnrollments","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListEnrollmentListResponseDto"}}}}}}},"/api/v1/event/{eventId}/enrolled-count":{"get":{"tags":["enrollment"],"summary":"등록된 학생 수 조회 API","description":"특정 행사에 등록된 학생 수를 반환하는 API입니다.\n","operationId":"getEnrolledCount","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEnrolledCountResponseDto"}}}}}}},"/api/v1/event/events/{eventId}":{"get":{"tags":["event"],"summary":"이벤트 참여 여부 확인 API","description":"특정 유저가 특정 이벤트에 참여했는지 확인하는 API입니다.\n헤더의 Authorization 토큰에서 학번을 추출하여 해당 학번이 이벤트에 참여했는지 검증합니다.\n","operationId":"checkEventParticipation","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventParticipationResponseDto"}}}}}}}},"components":{"schemas":{"EventRequestDto":{"type":"object","properties":{"name":{"type":"string"},"location":{"type":"string"},"productName":{"type":"string"},"description":{"type":"string"},"productQuantity":{"type":"integer","format":"int32"},"requireStatus":{"type":"integer","format":"int32"},"requireUnionFee":{"type":"boolean"},"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"}}},"EventResponseDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"location":{"type":"string"},"productName":{"type":"string"},"productQuantity":{"type":"integer","format":"int32"},"description":{"type":"string"},"status":{"type":"string","enum":["BEFORE","ONGOING","PAUSE","AFTER"]},"requireStatus":{"type":"array","items":{"type":"integer","format":"int32"}},"requireUnionFee":{"type":"boolean"},"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"EnrollmentRequestDto":{"type":"object","properties":{"randomKey":{"type":"string"}}},"ApiResponseEnrollmentResponseDto":{"type":"object","properties":{"message":{"type":"string"},"detail":{"type":"string"},"data":{"$ref":"#/components/schemas/EnrollmentResponseDto"},"success":{"type":"boolean"}}},"EnrollmentResponseDto":{"type":"object","properties":{"eventId":{"type":"integer","format":"int64"},"studentId":{"type":"string"},"studentName":{"type":"string"},"enrollmentId":{"type":"integer","format":"int64"},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponsePageEventResponseDto":{"type":"object","properties":{"message":{"type":"string"},"detail":{"type":"string"},"data":{"$ref":"#/components/schemas/PageEventResponseDto"},"success":{"type":"boolean"}}},"PageEventResponseDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/EventResponseDto"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"unpaged":{"type":"boolean"},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"}}},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"unsorted":{"type":"boolean"},"sorted":{"type":"boolean"}}},"ApiResponseListEnrollmentListResponseDto":{"type":"object","properties":{"message":{"type":"string"},"detail":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/EnrollmentListResponseDto"}},"success":{"type":"boolean"}}},"EnrollmentListResponseDto":{"type":"object","properties":{"enrollmentId":{"type":"integer","format":"int64"},"studentId":{"type":"string"},"studentName":{"type":"string"},"studentDepartment":{"type":"string"},"randomKey":{"type":"integer","format":"int32"},"timestamp":{"type":"string","format":"date-time"},"status":{"type":"string"}}},"ApiResponseEnrolledCountResponseDto":{"type":"object","properties":{"message":{"type":"string"},"detail":{"type":"string"},"data":{"$ref":"#/components/schemas/EnrolledCountResponseDto"},"success":{"type":"boolean"}}},"EnrolledCountResponseDto":{"type":"object","properties":{"count":{"type":"integer","format":"int64"}}},"EventParticipationResponseDto":{"type":"object","properties":{"enrolled":{"type":"boolean"}}}}}}